<div class="container">
    {{> header}}
    {{#if hasNoTeam}}
        <a href="#/create" class="btn btn-default"><button type="button" class="btn btn-outline-primary">Create Team</button></a>
    {{/if}}
    <h1>Catalog Page</h1>
    <div>
        {{#each teams}}
            {{> team}}
        {{/each}}
    </div>
{{> footer}}

</div>
