{{> header}}
<section id="mySongsView">
    <div class="background-spotify">
        <div class="song-container">
            <h1>My Songs</h1>
            {{#each mySongs}}
                {{> mySong}}
            {{/each}}
        </div>
    </div>
</section>
{{> footer}}