{{> header}}
<section id="mySongsView">
    <div class="background-spotify video-overlay">
            <h1>My Songs</h1>
            {{#each mySongs}}
                {{> mySong}}
            {{/each}}
    </div>
    <video autoplay muted loop class="video">
  <source src="../../MP4/Dancers.mp4" type="video/mp4">
</video>
   <div class="content">
{{> footer}}
</div>
</section>