{{> header}}
<section id="homeView">
   <video autoplay muted loop id="myVideo">
  <source src="../../MP4/Major-Tom.mp4" type="video/mp4">
</video>
<div class="content">
{{> footer}}
</div>
</section>